.plan-coverage-block .plan-coverage-single.green a{background-color: #4dc601;}
.pricing-coverage-block.green .pricing-table-block .pricing-table-title {background-color: rgba(77, 198, 1, 1); }
.pricing-coverage-block.green  .pricing-table-block .pricing-table-price {background-color: rgba(77, 198, 1, 0.15); }
.pricing-coverage-block.green  .pricing-table-block h5 { color: rgba(77, 198, 1, 1); }
.pricing-coverage-block.green  .pricing-table-block .pricing-table-price big { color: rgba(77, 198, 1, 1); }