<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
      <!--<httpErrors errorMode="Custom">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="400" path="/admin/NotFound.aspx" responseMode="ExecuteURL" />
        <error statusCode="404" path="/admin/NotFound.aspx" responseMode="ExecuteURL" />
      </httpErrors>-->
    </system.webServer>
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="NotFound.aspx">
      <error statusCode="404" redirect="NotFound.aspx"/>
    </customErrors>-->
  </system.web>

</configuration>
