<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <!--<httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="400" subStatusCode="-1" />
      <error statusCode="400" path="/client/NotFound.aspx" responseMode="ExecuteURL" />
      <error statusCode="404" path="/client/NotFound.aspx" responseMode="ExecuteURL" />
    </httpErrors>-->
  </system.webServer>
  <system.web>
    <!--<customErrors mode="Off"
      defaultRedirect="NotFound.aspx">
      <error statusCode="404" redirect="NotFound.aspx"/>
      <error statusCode="400" redirect="NotFound.aspx"/>
    </customErrors>-->
  </system.web>

</configuration>
